In [2]:
import pandas as pd
import sqlite3

In [3]:
# determining path of data
! ls ../data/localdata

Traffic_Crashes_Crashes.csv  Traffic_Crashes_Vehicles.csv
Traffic_Crashes_People.csv

In [4]:
# reading CSVs
vehicles_df = pd.read_csv('../data/localdata/Traffic_Crashes_Vehicles.csv')
people_df = pd.read_csv('../data/localdata/Traffic_Crashes_People.csv')
crashes_df = pd.read_csv('../data/localdata/Traffic_Crashes_Crashes.csv')

/var/folders/9n/kzdbb24d6718p004k3bbjtr40000gn/T/ipykernel_4598/2854129418.py:2: DtypeWarning: Columns (19,21,40,41,42,44,48,49,50,53,55,58,59,61,71) have mixed types. Specify dtype option on import or set low_memory=False.
  vehicles_df = pd.read_csv('../data/localdata/Traffic_Crashes_Vehicles.csv')
/var/folders/9n/kzdbb24d6718p004k3bbjtr40000gn/T/ipykernel_4598/2854129418.py:3: DtypeWarning: Columns (20,24,25,26,29) have mixed types. Specify dtype option on import or set low_memory=False.
  people_df = pd.read_csv('../data/localdata/Traffic_Crashes_People.csv')

In [5]:
# cleaning crashes dataframe
crashes_df.drop(columns=['WORK_ZONE_I', 'WORK_ZONE_TYPE', 'DOORING_I', 'WORKERS_PRESENT_I',
                                          'PHOTOS_TAKEN_I', 'STATEMENTS_TAKEN_I', 'RD_NO'], axis=1, inplace=True)
crashes_df.dropna(subset = ['INJURIES_TOTAL', 'LATITUDE', 'MOST_SEVERE_INJURY', 'STREET_DIRECTION', 'BEAT_OF_OCCURRENCE'] , axis=0, inplace=True)

## Vehicles EDA

In [6]:
vehicles_df.columns = vehicles_df.columns.str.title()
vehicles_df.columns = vehicles_df.columns.str.replace('_', ' ')
vehicles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1535466 entries, 0 to 1535465
Data columns (total 72 columns):
 #   Column                    Non-Null Count    Dtype
---  ------                    --------------    -----
 0   Crash Unit Id             1535466 non-null  int64
 1   Crash Record Id           1535466 non-null  object
 2   Rd No                     1526970 non-null  object
 3   Crash Date                1535466 non-null  object
 4   Unit No                   1535466 non-null  int64
 5   Unit Type                 1533417 non-null  object
 6   Num Passengers            227440 non-null   float64
 7   Vehicle Id                1500626 non-null  float64
 8   Cmrc Veh I                28642 non-null    object
 9   Make                      1500621 non-null  object
 10  Model                     1500477 non-null  object
 11  Lic Plate State           1363643 non-null  object
 12  Vehicle Year              1257878 non-null  float64
 13  Vehicle Defect            1500626 non-null  object
 14  Vehicle Type              1500626 non-null  object
 15  Vehicle Use               1500626 non-null  object
 16  Travel Direction          1500626 non-null  object
 17  Maneuver                  1500626 non-null  object
 18  Towed I                   189314 non-null   object
 19  Fire I                    1247 non-null     object
 20  Occupant Cnt              1500626 non-null  float64
 21  Exceed Speed Limit I      2397 non-null     object
 22  Towed By                  141768 non-null   object
 23  Towed To                  87198 non-null    object
 24  Area 00 I                 53479 non-null    object
 25  Area 01 I                 408084 non-null   object
 26  Area 02 I                 245063 non-null   object
 27  Area 03 I                 146447 non-null   object
 28  Area 04 I                 147002 non-null   object
 29  Area 05 I                 228144 non-null   object
 30  Area 06 I                 239155 non-null   object
 31  Area 07 I                 219000 non-null   object
 32  Area 08 I                 223461 non-null   object
 33  Area 09 I                 98034 non-null    object
 34  Area 10 I                 142074 non-null   object
 35  Area 11 I                 276500 non-null   object
 36  Area 12 I                 271360 non-null   object
 37  Area 99 I                 171777 non-null   object
 38  First Contact Point       1497531 non-null  object
 39  Cmv Id                    15862 non-null    float64
 40  Usdot No                  8975 non-null     object
 41  Ccmc No                   1933 non-null     object
 42  Ilcc No                   1341 non-null     object
 43  Commercial Src            10628 non-null    object
 44  Gvwr                      8903 non-null     object
 45  Carrier Name              15161 non-null    object
 46  Carrier State             14241 non-null    object
 47  Carrier City              13979 non-null    object
 48  Hazmat Placards I         312 non-null      object
 49  Hazmat Name               57 non-null       object
 50  Un No                     539 non-null      object
 51  Hazmat Present I          11575 non-null    object
 52  Hazmat Report I           11244 non-null    object
 53  Hazmat Report No          1 non-null        object
 54  Mcs Report I              11291 non-null    object
 55  Mcs Report No             7 non-null        object
 56  Hazmat Vio Cause Crash I  11407 non-null    object
 57  Mcs Vio Cause Crash I     11202 non-null    object
 58  Idot Permit No            871 non-null      object
 59  Wide Load I               134 non-null      object
 60  Trailer1 Width            2790 non-null     object
 61  Trailer2 Width            329 non-null      object
 62  Trailer1 Length           2265 non-null     float64
 63  Trailer2 Length           66 non-null       float64
 64  Total Vehicle Length      2749 non-null     float64
 65  Axle Cnt                  4092 non-null     float64
 66  Vehicle Config            13143 non-null    object
 67  Cargo Body Type           12550 non-null    object
 68  Load Type                 12005 non-null    object
 69  Hazmat Out Of Service I   10913 non-null    object
 70  Mcs Out Of Service I      11161 non-null    object
 71  Hazmat Class              1049 non-null     object
dtypes: float64(9), int64(2), object(61)
memory usage: 843.5+ MB

In [ ]:
vehicles_df

In [7]:
vehicles_df['Unit No'].value_counts()

Unit No
1          756793
2          712492
3           51303
4           10535
5            2794
6             881
7             331
8             146
9              68
10             35
0              28
11             19
12             12
13              7
14              6
15              5
16              4
17              3
18              3
3778035         1
Name: count, dtype: int64

## People EDA

In [8]:
people_df.columns = people_df.columns.str.title()
people_df.columns = people_df.columns.str.replace('_', ' ')
people_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1652394 entries, 0 to 1652393
Data columns (total 30 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Person Id              1652394 non-null  object
 1   Person Type            1652394 non-null  object
 2   Crash Record Id        1652394 non-null  object
 3   Rd No                  1643132 non-null  object
 4   Vehicle Id             1619747 non-null  float64
 5   Crash Date             1652394 non-null  object
 6   Seat No                334702 non-null   float64
 7   City                   1204258 non-null  object
 8   State                  1221419 non-null  object
 9   Zipcode                1102826 non-null  object
 10  Sex                    1625709 non-null  object
 11  Age                    1170451 non-null  float64
 12  Drivers License State  969446 non-null   object
 13  Drivers License Class  815144 non-null   object
 14  Safety Equipment       1647776 non-null  object
 15  Airbag Deployed        1621005 non-null  object
 16  Ejection               1632209 non-null  object
 17  Injury Classification  1651703 non-null  object
 18  Hospital               279492 non-null   object
 19  Ems Agency             173381 non-null   object
 20  Ems Run No             28653 non-null    object
 21  Driver Action          1314732 non-null  object
 22  Driver Vision          1314245 non-null  object
 23  Physical Condition     1315635 non-null  object
 24  Pedpedal Action        31011 non-null    object
 25  Pedpedal Visibility    30952 non-null    object
 26  Pedpedal Location      31009 non-null    object
 27  Bac Result             1315724 non-null  object
 28  Bac Result Value       1907 non-null     float64
 29  Cell Phone Use         1158 non-null     object
dtypes: float64(4), object(26)
memory usage: 378.2+ MB

## Crashes EDA

In [9]:
crashes_df.columns = crashes_df.columns.str.title()
crashes_df.columns = crashes_df.columns.str.replace('_', ' ')
crashes_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 746042 entries, 0 to 752648
Data columns (total 42 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Crash Record Id                746042 non-null  object
 1   Crash Date Est I               56102 non-null   object
 2   Crash Date                     746042 non-null  object
 3   Posted Speed Limit             746042 non-null  int64
 4   Traffic Control Device         746042 non-null  object
 5   Device Condition               746042 non-null  object
 6   Weather Condition              746042 non-null  object
 7   Lighting Condition             746042 non-null  object
 8   First Crash Type               746042 non-null  object
 9   Trafficway Type                746042 non-null  object
 10  Lane Cnt                       197743 non-null  float64
 11  Alignment                      746042 non-null  object
 12  Roadway Surface Cond           746042 non-null  object
 13  Road Defect                    746042 non-null  object
 14  Report Type                    724685 non-null  object
 15  Crash Type                     746042 non-null  object
 16  Intersection Related I         171484 non-null  object
 17  Not Right Of Way I             34596 non-null   object
 18  Hit And Run I                  233134 non-null  object
 19  Damage                         746042 non-null  object
 20  Date Police Notified           746042 non-null  object
 21  Prim Contributory Cause        746042 non-null  object
 22  Sec Contributory Cause         746042 non-null  object
 23  Street No                      746042 non-null  int64
 24  Street Direction               746042 non-null  object
 25  Street Name                    746042 non-null  object
 26  Beat Of Occurrence             746042 non-null  float64
 27  Num Units                      746042 non-null  int64
 28  Most Severe Injury             746042 non-null  object
 29  Injuries Total                 746042 non-null  float64
 30  Injuries Fatal                 746042 non-null  float64
 31  Injuries Incapacitating        746042 non-null  float64
 32  Injuries Non Incapacitating    746042 non-null  float64
 33  Injuries Reported Not Evident  746042 non-null  float64
 34  Injuries No Indication         746042 non-null  float64
 35  Injuries Unknown               746042 non-null  float64
 36  Crash Hour                     746042 non-null  int64
 37  Crash Day Of Week              746042 non-null  int64
 38  Crash Month                    746042 non-null  int64
 39  Latitude                       746042 non-null  float64
 40  Longitude                      746042 non-null  float64
 41  Location                       746042 non-null  object
dtypes: float64(11), int64(6), object(25)
memory usage: 244.7+ MB

In [12]:
crashes_df['Location']

0         POINT (-87.706709567706 41.895744504664)
1          POINT (-87.58866623998 41.660283893596)
2         POINT (-87.669639640899 41.691791918312)
3         POINT (-87.744821724517 41.910378596619)
4          POINT (-87.640441368666 41.75080513114)
                            ...
752644    POINT (-87.746247311774 41.938944239433)
752645    POINT (-87.698470968672 41.791413476844)
752646    POINT (-87.627089364442 41.880664578396)
752647    POINT (-87.620404747226 41.679331366513)
752648    POINT (-87.757904195247 41.964789856207)
Name: Location, Length: 746042, dtype: object

In [14]:
crashes_df.shape

(746042, 46)

## Feature Engineering Accident Severity

In [11]:
# Injury Score

crashes_df[['Injuries Total', 'Injuries Fatal', 'Injuries Incapacitating', 
            'Injuries Non Incapacitating', 'Injuries Reported Not Evident']][crashes_df['Injuries Total']!=0][:50]

crashes_df['total injured'] = crashes_df['Injuries Fatal'] + crashes_df['Injuries Incapacitating'] + crashes_df['Injuries Non Incapacitating'] + crashes_df['Injuries Reported Not Evident']

# Checking if added up columns in 'total injured' make up 'Injuries Total'
(crashes_df['total injured'] == crashes_df['Injuries Total']).value_counts()

# Injury Score column is a linear combination of the factors that make up Injuries Total simply multiplied by a constant depending on their severity
crashes_df['Injury Score'] = crashes_df['Injuries Fatal']*7 + crashes_df['Injuries Incapacitating']*3 + crashes_df['Injuries Non Incapacitating']*2 + crashes_df['Injuries Reported Not Evident']

# Accounting Material Damage of Car and Surrounding Areas (Crash Score)

crashes_df['Damage'].value_counts()
mapping = {'OVER $1,500': 3, '$501 - $1,500': 2, "$500 OR LESS": 1}
crashes_df['Damage_ODE'] = crashes_df['Damage'].map(mapping)
crashes_df['Injury Score'] = crashes_df['Injury Score'] + crashes_df['Damage_ODE']*3
crashes_df['Crash Score'] = crashes_df['Injury Score']

In [19]:
crashes_df['Crash Score'].value_counts()

Crash Score
9.0     385409
6.0     191150
3.0      71075
11.0     33095
10.0     16973
5.0       8949
12.0      8879
13.0      7902
8.0       6360
7.0       4382
4.0       3800
15.0      3063
14.0      1655
17.0       958
16.0       908
18.0       424
19.0       379
21.0       189
20.0       141
23.0        91
22.0        67
24.0        46
25.0        40
26.0        22
27.0        16
29.0        14
28.0        12
33.0         7
31.0         7
30.0         6
34.0         3
36.0         3
39.0         3
38.0         2
43.0         2
51.0         2
32.0         2
58.0         1
53.0         1
48.0         1
49.0         1
35.0         1
41.0         1
Name: count, dtype: int64

In [12]:
# people_df['Seat No'].value_counts()

In [13]:
# people_df['Seat No'].info()

In [14]:
# people_df['Injury Classification'].value_counts()

In [15]:
# people_df['Physical Condition'].value_counts()